matplotlib~=3.5.1
numpy==1.22.3
pillow~=9.0.1
keras~=2.8.0
scikit-image~=0.19.2
pandas~=1.4.1
scipy~=1.8.0
tensorboard~=2.8.0
tqdm~=4.63.0
six~=1.16.0
opencv-python~=4.5.5.64
sklearn~=0.0
scikit-learn~=1.0.2
netron==5.7.0
setuptools~=58.0.4