Training Time: 2019_10_21_13_4913
master:<absl.flags._flag.Flag object at 0x7fa35f4079d0>
train_dir:<absl.flags._flag.Flag object at 0x7fa2cd7da0d0>
num_clones:<absl.flags._flag.Flag object at 0x7fa2c5ee3050>
clone_on_cpu:<absl.flags._flag.BooleanFlag object at 0x7fa2c5ee3090>
worker_replicas:<absl.flags._flag.Flag object at 0x7fa2c5a8e990>
num_ps_tasks:<absl.flags._flag.Flag object at 0x7fa2c5a8edd0>
num_readers:<absl.flags._flag.Flag object at 0x7fa2c5a8ee90>
num_preprocessing_threads:<absl.flags._flag.Flag object at 0x7fa2c5a8ef50>
log_every_n_steps:<absl.flags._flag.Flag object at 0x7fa2c5a85050>
save_summaries_secs:<absl.flags._flag.Flag object at 0x7fa2c5a8e910>
save_interval_secs:<absl.flags._flag.Flag object at 0x7fa2c5a85150>
task:<absl.flags._flag.Flag object at 0x7fa2c5a85210>
weight_decay:<absl.flags._flag.Flag object at 0x7fa2c5a85310>
optimizer:<absl.flags._flag.Flag object at 0x7fa2c5a853d0>
adadelta_rho:<absl.flags._flag.Flag object at 0x7fa2c5a85490>
adagrad_initial_accumulator_value:<absl.flags._flag.Flag object at 0x7fa2c5a85550>
adam_beta1:<absl.flags._flag.Flag object at 0x7fa2c5a85610>
adam_beta2:<absl.flags._flag.Flag object at 0x7fa2c5a856d0>
opt_epsilon:<absl.flags._flag.Flag object at 0x7fa2c5a85790>
ftrl_learning_rate_power:<absl.flags._flag.Flag object at 0x7fa2c5a85850>
ftrl_initial_accumulator_value:<absl.flags._flag.Flag object at 0x7fa2c5a85910>
ftrl_l1:<absl.flags._flag.Flag object at 0x7fa2c5a859d0>
ftrl_l2:<absl.flags._flag.Flag object at 0x7fa2c5a85a90>
momentum:<absl.flags._flag.Flag object at 0x7fa2c5a85b50>
rmsprop_momentum:<absl.flags._flag.Flag object at 0x7fa2c5a85c10>
rmsprop_decay:<absl.flags._flag.Flag object at 0x7fa2c5a85cd0>
learning_rate_decay_type:<absl.flags._flag.Flag object at 0x7fa2c5a85d90>
learning_rate:<absl.flags._flag.Flag object at 0x7fa2c5a85e50>
end_learning_rate:<absl.flags._flag.Flag object at 0x7fa2c5a85f10>
label_smoothing:<absl.flags._flag.Flag object at 0x7fa2c5a85fd0>
learning_rate_decay_factor:<absl.flags._flag.Flag object at 0x7fa2c5a8b0d0>
num_epochs_per_decay:<absl.flags._flag.Flag object at 0x7fa2c5a8b190>
sync_replicas:<absl.flags._flag.BooleanFlag object at 0x7fa2c5a8b1d0>
replicas_to_aggregate:<absl.flags._flag.Flag object at 0x7fa2c5a8b2d0>
moving_average_decay:<absl.flags._flag.Flag object at 0x7fa2c5a8b390>
dataset_name:<absl.flags._flag.Flag object at 0x7fa2c5a8b410>
dataset_split_name:<absl.flags._flag.Flag object at 0x7fa2c5a8b4d0>
dataset_dir:<absl.flags._flag.Flag object at 0x7fa2c5a8b590>
labels_offset:<absl.flags._flag.Flag object at 0x7fa2c5a8b610>
model_name:<absl.flags._flag.Flag object at 0x7fa2c5a8b6d0>
batch_size:<absl.flags._flag.Flag object at 0x7fa2c5a8b790>
train_image_size:<absl.flags._flag.Flag object at 0x7fa2c5a8b850>
max_number_of_steps:<absl.flags._flag.Flag object at 0x7fa2c5a8b8d0>
checkpoint_path:<absl.flags._flag.Flag object at 0x7fa2c5a8b990>
checkpoint_exclude_scopes:<absl.flags._flag.Flag object at 0x7fa2c5a8ba10>
trainable_scopes:<absl.flags._flag.Flag object at 0x7fa2c5a8ba90>
ignore_missing_vars:<absl.flags._flag.BooleanFlag object at 0x7fa2c5a8bad0>
measure:<absl.flags._flag.Flag object at 0x7fa2c5a8bb90>
preprocessing_name:<absl.flags._flag.Flag object at 0x7fa2c5a8bc50>
patch_size:<absl.flags._flag.Flag object at 0x7fa2c5a8bcd0>
ordering:<absl.flags._flag.Flag object at 0x7fa2c5a8bd90>
curriculum:<absl.flags._flag.BooleanFlag object at 0x7fa2c5a8bdd0>
h:<tensorflow.python.platform.app._HelpFlag object at 0x7fa2c5a8be50>
help:<tensorflow.python.platform.app._HelpFlag object at 0x7fa2c5a8be50>
helpfull:<tensorflow.python.platform.app._HelpfullFlag object at 0x7fa2c5a8bed0>
helpshort:<tensorflow.python.platform.app._HelpshortFlag object at 0x7fa2c5a8bf50>
